<section class="h-100">
  <header class="container h-100">
    <div class="d-flex align-items-center justify-content-center h-100">
      <div class="d-flex flex-column">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="padding_top_30px">
              <h6 class="title darker_gray">Patronat honorowy:</h6>
            </div>
          </div>
          <div class="col-md-5">
            <a href="https://ptmr.info.pl/" target="_blank">
              <img class="logo_ptmr" src="./assets/images/logoPTMR.png"/>
            </a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </header>
</section>
