<div class="row">
  <div class="col-md-6">
    <h6 *ng-if="showBrandingFooterText" class="title text_color__darker_gray">Patronat honorowy:</h6>
    <div class="logo__wrapper d-flex justify-content-center align-items-center padding_top_15px">
      <a href="https://ptmr.info.pl/" target="_blank">
        <img class="logo_ptmr" src="./assets/images/logoPTMR.png"/>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <h6 *ng-if="showBrandingFooterText" class="title text_color__darker_gray">Partner:</h6>
    <div class="logo__wrapper d-flex justify-content-center align-items-center padding_top_15px">
      <a href="https://gl-pharma.pl/produkty-rx/" target="_blank">
        <img class="logo_glpharma" src="./assets/images/logoGLPHARMA.png"/>
      </a>
    </div>
  </div>
</div>
