<ng-container *ngIf="kidneyCheckboxWasChecked && opioidToConvertToWasChosen()">
  <div class="padding_top_30px"></div>
  <div class="very_light_gray_background">
    <span class="header_dark">{{contentService.resultsTextData.kidneyFailureText}}</span>
    <hr class="light_line">
    <span class="fontsize_14">
              {{contentService.glpharmaData[14].text1}}
      <a href="{{contentService.glpharmaData[16].buprenorphineLink}}"
         target="_blank">{{contentService.glpharmaData[14].text2}}</a>
      {{contentService.glpharmaData[14].text3}}
            </span>
  </div>
</ng-container>
