<div class="padding_top_30px"></div>
<div class="very_light_gray_background">
  <span class="header_dark">Dawka doraźna</span>
  <hr class="light_line">

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.BuprenorphinePills.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.BuprenorphineTransdermal.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Dihydrocodeine.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.FentanylPills.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.FentanylTransdermal.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Codeine.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Methadone.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.MorphinePills.valueOf() ||
      opioidToConvertToIndex === opioidIndices.MorphineIV.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{rescueDoseData[8].text1}}</li>
      <li>{{rescueDoseData[8].text2}}</li>
      <li>{{rescueDoseData[8].text3}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Oxycodone.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Tapentadon.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.TramadolIV.valueOf() ||
    opioidToConvertToIndex === opioidIndices.TramadolPills.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>
</div>
