<div class="padding_top_30px"></div>
<div class="very_light_gray_background">
  <span class="header_dark">Dawka doraźna</span>
  <hr class="light_line">

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.BuprenorphinePills.valueOf() ||
      opioidToConvertToIndex === opioidIndices.BuprenorphineTransdermal.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[1].text1}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Dihydrocodeine.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[3].text1}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.FentanylPills.valueOf() ||
      opioidToConvertToIndex === opioidIndices.FentanylTransdermal.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[5].text1}}</li>
      <li>{{contentService.rescueDoseData[5].text2}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Codeine.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[6].text1}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Methadone.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.MorphinePills.valueOf() ||
      opioidToConvertToIndex === opioidIndices.MorphineIV.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[9].text1}}</li>
      <li>{{contentService.rescueDoseData[9].text2}}</li>
      <li>{{contentService.rescueDoseData[9].text3}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Oxycodone.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>{{contentService.rescueDoseData[10].text1}}</li>
      <li>
        <span>{{contentService.rescueDoseData[10].text2}}</span>
        <span>
          <!-- TODO: zmienić 16 na... -->
          <a href="{{contentService.glpharmaData[16].oxydolorFastLink}}" target="_blank">
            {{contentService.rescueDoseData[10].text3}}
          </a>
        </span>
        <span>{{contentService.rescueDoseData[10].text4}}</span>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.Tapentadol.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="opioidToConvertToIndex === opioidIndices.TramadolIV.valueOf() ||
    opioidToConvertToIndex === opioidIndices.TramadolPills.valueOf()">
    <ul class="fontsize_14 padding_top_5px">
      <li>text</li>
      <li>text</li>
      <li>text</li>
    </ul>
  </ng-container>
</div>
