<table class="table">
  <tbody>
    <tr *ngIf="listOfProposedPlasters.length > 0">
      <td *ngIf="!doseReductionWasChosen" class="text-white fontsize_14">
        Proponowane plastry:
      </td>
      <td *ngIf="doseReductionWasChosen" class="text-white fontsize_14">
        Proponowane plastry (po redukcji dawki o {{results.doseReduction}}%):
      </td>
      <td>
        <ul *ngFor="let plaster of listOfProposedPlasters">
          <li class="text-white fontsize_14">{{plaster}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
