<table class="table">
  <tbody>
    <tr *ngIf="listOfProposedPlasters.length > 0">
      <td *ngIf="results.opioidToConvertToIndex === opioidIndices.BuprenorphineTransdermal.valueOf()"
          class="text-white fontsize_14">
        Proponowane plastry (np. <a href="{{contentService.glpharmaData[16].buprenorphineLink}}" target="_blank">
        Melodyn</a>):
      </td>
      <td *ngIf="results.opioidToConvertToIndex !== opioidIndices.BuprenorphineTransdermal.valueOf()" class="text-white fontsize_14">
        Proponowane plastryXX:
      </td>
      <td>
        <ul *ngFor="let plaster of listOfProposedPlasters">
          <li class="text-white fontsize_14">{{plaster}}</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
