<div [formGroup]="parentFormGroup">
  <div class="row no_flickering">
    <div class="form-group col-md-6">
      <div class="shift_bottom_7px">
        <h6 class="text_color__darker_gray padding_top_5px">{{titleText}}</h6>
      </div>
    </div>
    <div class="form-group col-md-2">
      <select [formControlName]="formsService.formBuprenorfineFields.buprenorphineDose"
              [id]="formsService.formBuprenorfineFields.buprenorphineDose"
              [name]="formsService.formBuprenorfineFields.buprenorphineDose"
              class="form-control">
        <option *ngFor="let dose of buprenorphineDoses" [value]="dose">{{dose}}</option>
      </select>
    </div>
    <div class="form-group col-md-1">
      <div class="shift_bottom_7px">
        <h6 class="text_color__darker_gray">{{unit}}</h6>
      </div>
    </div>
  </div>
</div>
