<div [formGroup]="parentFormGroup">
  <div class="converted_opioid__wrapper">
    <div class="padding_top_15px"></div>
    <div class="row">
      <div class="form-group col-md-6">
        <div class="shift_bottom_7px">
          <h6 class="darker_gray">{{titleText}}</h6>
        </div>
      </div>
      <div class="form-group col-md-2">
        <select [formControlName]="formsService.formFentanylFields.fentanylDose"
                [id]="formsService.formFentanylFields.fentanylDose"
                [name]="formsService.formFentanylFields.fentanylDose"
                class="form-control">
          <option *ngFor="let dose of fentanylDoses" [value]="dose">{{dose}}</option>
        </select>
      </div>
      <div class="form-group col-md-1">
        <div class="shift_bottom_7px">
          <h6 class="darker_gray">{{unit}}</h6>
        </div>
      </div>
    </div>
  </div>
</div>
