<div class="dark_gray_background">
  <span class="header_white">{{results.opioidToConvertTo.description}}:</span>
  <span *ngIf="results.opioidToConvertToIndex === opioidIndices.BuprenorphineTransdermal.valueOf()">
    <br>
    np. <a class="white_text__link" href="{{contentService.glpharmaData['chplLinks'].buprenorphineLink}}" target="_blank">Melodyn</a>
  </span>
  <span *ngIf="results.opioidToConvertToIndex === opioidIndices.Oxycodone.valueOf()">
    <br>
    np. <a class="white_text__link" href="{{contentService.glpharmaData['chplLinks'].oxydolorLink}}" target="_blank">Oxydolor</a>
  </span>
</div>
<table class="table text-white">
  <thead>
  <tr>
    <th scope="col" class="w-60"></th>
    <th scope="col" class="w-40"></th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Dawka dobowa:</td>
      <td *ngIf="results.opioidToConvertToDoseRange.min === results.opioidToConvertToDoseRange.max">
        {{results.opioidToConvertToDoseRange.min | number : '1.2-2'}} {{results.doseForResults}}
      </td>
      <td *ngIf="results.opioidToConvertToDoseRange.min !== results.opioidToConvertToDoseRange.max">
        {{results.opioidToConvertToDoseRange.min | number : '1.2-2'}}
        - {{results.opioidToConvertToDoseRange.max | number : '1.2-2'}}
        {{results.doseForResults}}
      </td>
    </tr>

    <ng-container *ngIf="results.doseReduction > 0">
      <tr>
        <td>Dawka dobowa zredukowana o {{results.doseReduction}}%:</td>
        <td *ngIf="results.opioidToConvertToReducedDoseRange.min ===
        results.opioidToConvertToReducedDoseRange.max">
          {{results.opioidToConvertToReducedDoseRange.min | number : '1.2-2'}} {{results.doseForResults}}
        </td>
        <td *ngIf="results.opioidToConvertToReducedDoseRange.min !==
        results.opioidToConvertToReducedDoseRange.max">
          {{results.opioidToConvertToReducedDoseRange.min | number : '1.2-2'}}
          - {{results.opioidToConvertToReducedDoseRange.max | number : '1.2-2'}}
          {{results.doseForResults}}
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
