
@media (max-width: 300px) {
  body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #b79481;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  body,html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #b79481;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  body,html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #b79481;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) {
  body,html {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #b79481;
    width: 100%;
    height: 100%;
  }
}

.emptyspace10px {
  height: 10px;
}

.emptyspace15px {
  height: 15px;
}

@media (max-width: 300px) {
  .maindiv {
    background-color: transparent;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .maindiv {
    background-color: transparent;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .maindiv {
    background-color: transparent;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 769px) {
  .maindiv {
    background-color: transparent;
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1000px) {
  .maindiv {
    background-color: transparent;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:1100px) {
  .maindiv {
    background-color: transparent;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:1300px) {
  .maindiv {
    background-color: transparent;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width:1400px) {
  .maindiv {
    background-color: transparent;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: 300px) {
  .content {
    background-color: white;
    opacity: 0.93;
    border-radius: 10px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .content {
    background-color: white;
    opacity: 0.93;
    border-radius: 10px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .content {
    background-color: white;
    opacity: 0.93;
    border-radius: 10px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  }
}
@media (min-width: 769px) {
  .content {
    background-color: white;
    opacity: 0.93;
    border-radius: 10px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  }
}
@media (min-width: 1100px) {
  .content {
    background-color: white;
    opacity: 0.93;
    border-radius: 10px;
    border: solid 1px #555;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
  }
}


@media (max-width: 300px) {
  .content_inside {
    padding: 10px 10px 30px;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .content_inside {
    padding: 10px 10px 30px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .content_inside {
    padding: 10px 10px 30px;
  }
}
@media (min-width: 769px) {
  .content_inside {
    padding: 30px 20px;
  }
}

.title {
  color: #555555;
  text-align: center;
}

.paddingBottom10px {
  padding-bottom: 10px;
}

.paddingBottom20px {
  padding-bottom: 20px;
}

.paddingTop15px {
  padding-top: 20px;
}

div.container.h-100 {
  width: 100%;
  padding: 0px;
}

.gray {
  color: #CCC;
}



/* ------------------------------------------ tu skonczylam sprawdzac */



.fatter {
  color: black;
}

@media (max-width: 300px) {
  div {
    width:100%;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  div {
    width:100%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  div {
    width:100%;
  }
}
@media (min-width: 769px) {
  div {

  }
}

.dialog {

  width: 600px;
  height: 600px;
  background-color: white;
}

.bottom {
  padding-top: 7px;
  width: 100%;
}

.bottomwarning {
  padding-top: 10px;
}

.darkbackground {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #555555;
  border-radius: 10px;
  color: white;
}


.darkbackground_lighter {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #dbdbdb;
  border-radius: 10px;
  color: black;
}



h4, h6 {
  margin: 0px;
}


.darkthick_frame {
  background-color: #F8F8F8;
  padding-right:15px;
  padding-left:15px;
  padding-top:20px;
  padding-bottom:20px;

  border: 4px solid #555555;
  border-radius: 10px;
}


hr.dark_line {
  border: 0.5px solid #555555;
}


.littlepadding {
  padding-top:10px;
  padding-left: 10px;
}



.opioid_konwertowany__wrapper_top {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding-right:8px;
  padding-left:8px;
  padding-top:20px;
}

.opioid_konwertowany_wrapper {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding-right:8px;
  padding-left:8px;
  padding-top:10px;
  padding-bottom:3px;
}

.konwersjanawrapper {
  background-color: #E8E8E8;
  border-radius: 10px;
  padding-right:8px;
  padding-left:8px;
  padding-top:20px;
}









@media (max-width: 300px) {
  div.row {
    text-align: center;
    margin:0px;
    padding:0px;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  div.row {
    text-align: center;
    margin:0px;
    padding:0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  div.row {
    text-align: center;
    margin:0px;
    padding:0px;
  }
}
@media (min-width: 769px) {
  div.row {
    text-align: justify;
    margin:0px;
    padding:0px;
  }
}


/* ================== content of input forms ================== */


@media (max-width: 300px) {
  div.form-group.col-md-1 {
    padding: 0px;
  }

  div.form-group.col-md-2 {
    padding: 0px;
  }

  div.form-group.col-md-3 {
    padding: 0px;
  }

  div.form-group.col-md-4 {
    padding: 0px;
  }

  div.form-group.col-md-5 {
    padding: 0px;
  }

  div.form-group.col-md-6 {
    padding: 0px;
  }

  div.form-group.col-md-7 {
    padding: 0px;
  }

  div.form-group.col-md-8 {
    padding: 0px;
  }

  div.form-group.col-md-9 {
    padding: 0px;
  }

  div.form-group.col-md-10 {
    padding: 0px;
  }

  div.form-group.col-md-11 {
    padding: 0px;
  }

  div.form-group.col-md-12 {
    padding: 0px;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  div.form-group.col-md-1 {
    padding: 0px;
  }

  div.form-group.col-md-2 {
    padding: 0px;
  }

  div.form-group.col-md-3 {
    padding: 0px;
  }

  div.form-group.col-md-4 {
    padding: 0px;
  }

  div.form-group.col-md-5 {
    padding: 0px;
  }

  div.form-group.col-md-6 {
    padding: 0px;
  }

  div.form-group.col-md-7 {
    padding: 0px;
  }

  div.form-group.col-md-8 {
    padding: 0px;
  }

  div.form-group.col-md-9 {
    padding: 0px;
  }

  div.form-group.col-md-10 {
    padding: 0px;
  }

  div.form-group.col-md-11 {
    padding: 0px;
  }

  div.form-group.col-md-12 {
    padding: 0px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  div.form-group.col-md-1 {
    padding: 0px;
  }

  div.form-group.col-md-2 {
    padding: 0px;
  }

  div.form-group.col-md-3 {
    padding: 0px;
  }

  div.form-group.col-md-4 {
    padding: 0px;
  }

  div.form-group.col-md-5 {
    padding: 0px;
  }

  div.form-group.col-md-6 {
    padding: 0px;
  }

  div.form-group.col-md-7 {
    padding: 0px;
  }

  div.form-group.col-md-8 {
    padding: 0px;
  }

  div.form-group.col-md-9 {
    padding: 0px;
  }

  div.form-group.col-md-10 {
    padding: 0px;
  }

  div.form-group.col-md-11 {
    padding: 0px;
  }

  div.form-group.col-md-12 {
    padding: 0px;
  }

}
@media (min-width: 769px) {
  div.form-group.col-md-1 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-2 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-3 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-4 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-5 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-6 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-7 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-8 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-9 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-10 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-11 {
    padding-right: 3px;
    padding-left: 3px;
  }

  div.form-group.col-md-12 {
    padding-right: 3px;
    padding-left: 3px;
  }
}



@media (max-width: 300px) {
  .iconlink .fa-minus-circle {
    font-size: 40px;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .iconlink .fa-minus-circle {
    font-size: 40px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .iconlink .fa-minus-circle {
    font-size: 40px;
  }
}
@media (min-width: 769px) {
  .iconlink .fa-minus-circle {
    padding-top: 7px;
  }
}





.darkergray {
  color: #888;
}




a.iconlink {
  text-decoration: none;
  color:red;
}

a.iconlink:hover {
  text-decoration: none;
  color: #ac8e84;
}

a.linkbeige {
  text-decoration: none;
  color: #ac8e84;
}

a.linkbeige:hover {
  text-decoration: none;
  color: red;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
  background-color: #ac8e84;
}



/* ========================================= modal ========================================= */

.modal-content {
  font-family: Helvetica;
  font-size: 12px;

}

div.modal-header {
  padding-top:30px;
  padding-bottom:20px;
}

.redcolor {
  color:red;
}


.error {
  color: #F00;
  background-color: #FFF;
}

.justifytext {
  text-align: justify;
}

.fontsize14 {
  font-size: 14px;
}

.inline {
  display: inline;
}









/* ================ showing accordion collapsed on PC and hidden on mobile devices ================ */
.modified-accordion .accordion-heading{
  position: relative;
}

.modified-accordion .accordion-heading:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modified-accordion .collapse:not(.show){
  display: block;
}

@media (max-width: 767px) {
  .modified-accordion .collapse:not(.show){
    display: none;
  }
  .modified-accordion .accordion-heading:after{
    display: none;
  }
}







.displaynone {
  display: none;
}


@media (max-width: 767px) {
  .displaynone {
    display: inherit;
  }
}

.shiftright {
  padding-left: 12px;
}



/* ======== TABLES ON MOBILE DEVICES ======== */
table {
  width: 100%;
  border-collapse: collapse;
}

@media only screen and (max-width: 760px) , ( min-device-width : 768px)
and (max-device-width: 1024px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:before {
    position: static;
    color: grey;
  }

  td.table1:nth-of-type(1):before {
    content: "Opioid:";
  }

  td.table1:nth-of-type(2):before {
    content: "Dawka:";
  }

  td.table1:nth-of-type(3):before {
    content: "Ekwiwalent morfiny:";
  }

}


.redbackground {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: red;
  border-radius: 10px;
  color: white;
}



a.blad {
  text-decoration: none;
  color: white;
}

a.blad:hover {
  text-decoration: none;
  color: yellow;
}





@media only screen and (max-width: 760px) , ( min-device-width : 768px)
and (max-device-width: 1024px) {
  h6.redcolor {
    text-align: justify;
  }

  div.darkthick_frame {
    text-align: justify;
  }

}



div.btn-toolbar {
  text-align: right;
}



h4.centertext {
  text-align: center;
}

.logoptmr {
  height: 60px;
}

.bottomspace {
  padding-top:30px;
}

.textaligncenter {
  text-align: center;
}




/* ---------------------- results page ---------------------- */
@media (max-width: 300px) {
  .content_inside_resultspage {
    padding: 10px 10px 50px;
  }
}
@media (min-width: 301px) and (max-width: 600px) {
  .content_inside_resultspage {
    padding: 10px 10px 50px;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .content_inside_resultspage {
    padding: 10px 10px 50px;
  }
}
@media (min-width: 769px) {
  .content_inside_resultspage {
    padding: 30px 20px;
  }
}
