<div class="main_div">
  <div class="empty_space_20px"></div>
  <div class="content">
    <div class="content_inside">
      <h4 class="title">{{contentService.applicationData.title}}</h4>
      <hr class="padding_bottom_10px">

      <form [formGroup]="opioidConversionForm" (ngSubmit)="onSubmit()">
        <h5>{{contentService.applicationData.conversionFromText}}</h5>

        <div class="converted_opioid__wrapper_top">
          <form-opioid
            [name]="opioidConversionFormFields.firstOpioid"
            [parentFormGroup]="opioidConversionForm">
          </form-opioid>
        </div>
        <div class="padding_bottom_20px"></div>

        <h6 class="text_color__gray padding_bottom_10px">{{contentService.applicationData.optionallyText}}</h6>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse1.toggle()"
             [attr.aria-expanded]="!firstIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{contentService.applicationData.addAnotherText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse1="ngbCollapse" [(ngbCollapse)]="firstIsCollapsed">
            <form-opioid
              [name]="opioidConversionFormFields.secondOpioid"
              [parentFormGroup]="opioidConversionForm">
            </form-opioid>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse2.toggle()"
             [attr.aria-expanded]="!secondIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{contentService.applicationData.addAnotherText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse2="ngbCollapse" [(ngbCollapse)]="secondIsCollapsed">
            <form-opioid
              [name]="opioidConversionFormFields.thirdOpioid"
              [parentFormGroup]="opioidConversionForm">
            </form-opioid>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse3.toggle()"
             [attr.aria-expanded]="!fentanylIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{contentService.applicationData.fentanylText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse3="ngbCollapse" [(ngbCollapse)]="fentanylIsCollapsed">
            <form-fentanyl [parentFormGroup]="opioidConversionForm"></form-fentanyl>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse4.toggle()"
             [attr.aria-expanded]="!buprenorphineIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{contentService.applicationData.buprenorphineText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse4="ngbCollapse" [(ngbCollapse)]="buprenorphineIsCollapsed">
            <form-buprenorphine [parentFormGroup]="opioidConversionForm"></form-buprenorphine>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <div class="form-group form-check padding_top_15px">
            <input
              type="checkbox"
              class="form-check-input"
              id="kidneyDisease"
              formControlName="kidneyCheckbox"
              name="kidneyCheckbox">
            <label class="form-check-label text_color__darker_gray" for="kidneyDisease">{{contentService.applicationData.kidneyCheckbox}}</label>
          </div>
        </div>

        <hr class="padding_bottom_20px">

        <form-conversion-to [parentFormGroup]="opioidConversionForm"></form-conversion-to>

        <div class="d-flex justify-content-end padding_bottom_20px">
          <div class="row">
            <div class="col-md-6 d-flex justify-content-end"></div>
            <div class="col-md-3 d-flex justify-content-end">
              <input class="btn btn-secondary my-1 btn-block mr-1"
                     type="reset"
                     value="{{contentService.applicationData.btnResetText}}">
            </div>
            <div class="col-md-3 d-flex justify-content-end">
              <input class="btn btn-danger my-1 btn-block mr-1"
                     type="submit"
                     value="{{contentService.applicationData.btnCalculateText}}">
            </div>
          </div>
        </div>

        <hr class="padding_bottom_20px">

        <branding-footer></branding-footer>

      </form>
    </div>
  </div>
  <div class="empty_space_20px"></div>
</div>
