<div class="maindiv">
  <div class="emptyspace15px"></div>
  <div class="content">
    <div class="content_inside">
      <h4 class="title">{{title}}</h4>
      <hr class="paddingBottom10px">

      <form autocomplete="on" [formGroup]="opioidConversionForm" (ngSubmit)="onSubmit()">

        <h5>{{conversionFromText}}</h5>

        <form-opioid
          [name]="opioidConversionFormFields.firstOpioid"
          [parentFormGroup]="opioidConversionForm">
        </form-opioid>

        <h6 class="gray paddingBottom10px">{{optionallyText}}</h6>

        <form-opioid
          [name]="opioidConversionFormFields.secondOpioid"
          [parentFormGroup]="opioidConversionForm">
        </form-opioid>

        <form-opioid
          [name]="opioidConversionFormFields.thirdOpioid"
          [parentFormGroup]="opioidConversionForm">
        </form-opioid>

        <form-fentanyl [parentFormGroup]="opioidConversionForm"></form-fentanyl>
        <div class="paddingBottom20px"></div>
        <form-buprenorphine [parentFormGroup]="opioidConversionForm"></form-buprenorphine>


        <!-- =============================== submit btn =============================== -->
        <div class="d-flex justify-content-end">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              <input class="btn btn-secondary my-1 btn-block mr-1" type="reset" value="Wyczyść">
            </div>
            <div class="btn-group" role="group">
              <input class="btn btn-danger my-1 btn-block mr-1" type="submit" value="Przelicz">
            </div>
          </div>
        </div>
        <!-- =============================== submit btn / end =============================== -->

      </form>
    </div>
  </div>
  <div class="emptyspace15px"></div>
</div>
