<div class="main_div">
  <div class="emptyspace_20px"></div>
  <div class="content">
    <div class="content_inside">
      <h4 class="title">{{title}}</h4>
      <hr class="padding_bottom_10px">

      <form autocomplete="on" [formGroup]="opioidConversionForm" (ngSubmit)="onSubmit()">
        <h5>{{conversionFromText}}</h5>

        <div class="converted_opioid__wrapper_top">
          <form-opioid
            [name]="opioidConversionFormFields.firstOpioid"
            [parentFormGroup]="opioidConversionForm">
          </form-opioid>
        </div>
        <div class="padding_bottom_20px"></div>

        <h6 class="gray padding_bottom_10px">{{optionallyText}}</h6>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse1.toggle()"
             [attr.aria-expanded]="!firstIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{addAnotherText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse1="ngbCollapse" [(ngbCollapse)]="firstIsCollapsed">
            <form-opioid
              [name]="opioidConversionFormFields.secondOpioid"
              [parentFormGroup]="opioidConversionForm">
            </form-opioid>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse2.toggle()"
             [attr.aria-expanded]="!secondIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{addAnotherText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse2="ngbCollapse" [(ngbCollapse)]="secondIsCollapsed">
            <form-opioid
              [name]="opioidConversionFormFields.thirdOpioid"
              [parentFormGroup]="opioidConversionForm">
            </form-opioid>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse3.toggle()"
             [attr.aria-expanded]="!fentanylIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{fentanylText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse3="ngbCollapse" [(ngbCollapse)]="fentanylIsCollapsed">
            <form-fentanyl [parentFormGroup]="opioidConversionForm"></form-fentanyl>
          </div>
        </div>

        <div class="padding_bottom_20px"></div>

        <div class="converted_opioid__wrapper">
          <a class="link_beige display_none padding_top_5px"
             (click)="collapse4.toggle()"
             [attr.aria-expanded]="!buprenorphineIsCollapsed">
            <i class="fas fa-plus-circle"></i> {{buprenorphineText}}
          </a>

          <div class="padding_bottom_10px"></div>

          <div #collapse4="ngbCollapse" [(ngbCollapse)]="buprenorphineIsCollapsed">
            <form-buprenorphine [parentFormGroup]="opioidConversionForm"></form-buprenorphine>
          </div>
        </div>

        <hr class="padding_bottom_20px">

        <form-conversion-to [parentFormGroup]="opioidConversionForm"></form-conversion-to>

        <div class="d-flex justify-content-end padding_bottom_20px">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              <input class="btn btn-secondary my-1 btn-block mr-1" type="reset" value="Wyczyść">
            </div>
            <div class="btn-group" role="group">
              <input class="btn btn-danger my-1 btn-block mr-1" type="submit" value="Przelicz">
            </div>
          </div>
        </div>

        <hr class="padding_bottom_20px">
        <branding-footer></branding-footer>

      </form>
    </div>
  </div>
  <div class="emptyspace_20px"></div>
</div>
